$center: 0 auto;

//this area is for width and heights

$site-width: 980px;
$content-width: 980px;

$banner-footer-width: 1280px;
$banner-height: 500px;

$footer-height:455px;
$home-form-width:818px;


//this is for site colors
$site-white: white;
$site-black: black;
$site-pink: #EE4367;
$site-purple: #540D6E;
$site-yellow: #FFD140;
$site-teal: #3BCEAB;
$site-green: #08AD69;

$site-blue: #79addc;




